---
import '../assets/styles.scss';

interface Props {
	title: string;
	componentId: string
	pageTitle: string
}

const { title, componentId, pageTitle } = Astro.props;

import ListComponents from '../components/ListComponents.astro';
import TopNav from '../components/TopNav.astro';

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script>
			import '@c2n/list';
			import '@c2n/list-item';
			import '@c2n/single-select';
			import '@c2n/hyperlink-list';
			import '@c2n/text-field';
			import '@c2n/details';
			import '@c2n/text-button';
			import '@c2n/tooltip';
			import '@c2n/icon-button';
			import '@c2n/mat-icon';
			import '@c2n/expansion-panel';
			import '@c2n/checkbox'			
		</script>
	</head>
	<body>
		<main>
			<div class="main-nav bg-gray-50">
				<div class="flex items-center justify-between">
					<TopNav  pageTitle={pageTitle}/>
					<c2-icon-button class="menu-button">
						<c2-mat-icon>menu</c2-mat-icon>
					</c2-icon-button>
				</div>
				<ListComponents class='list-comps' componentId={componentId}/>
			</div>
			<div class="p-10 pt-14">
				<slot />
			</div>
		</main>
		
	</body>
</html>
<style>
	main {
		display: grid;
		grid-template-columns: 280px 1fr;		
	}
	.main-nav {
		height: 100vh;
		position: relative;;
		border-right: 1px solid rgb(230, 230, 230);

	}
	.menu-button {
		margin-bottom: 8px;
		margin-right: 8px;
		display: none;
	}
	@media (max-width: 768px) {
		main {			
			grid-template-columns: 1fr;		
		}
		.menu-button {
			display: block;
		}
		.main-nav {
			height: fit-content;
			border-bottom: 1px solid rgb(230, 230, 230);
		}
		.list-comps {
			display:none;			
		}
		.list-comps.show {
			display: block;
		}
	}
</style>

<script>
	const menuBtn = document.querySelector('.menu-button');
	const listComps = document.querySelector('.list-comps');
	menuBtn?.addEventListener('click', () => {
		listComps?.classList.toggle('show')
	})
</script>