---
import Main from '../../layouts/Main.astro'
import DocComponentLayout from '../../layouts/DocComponentLayout.astro'
import { getCollection } from 'astro:content'

export async function getStaticPaths() {
  const componentEntries = await getCollection('components')
  return componentEntries.map((entry) => ({
    params: { componentId: entry.slug },
    props: { component: entry },
  }))
}

const { component } = Astro.props
const { Content: ComponentContent } = await component.render()
---

<Main title="CW Library" componentId={component.slug} pageTitle={component.data.title}>
  <DocComponentLayout componentId={component.slug}>
    <ComponentContent />
  </DocComponentLayout>
</Main>
