@use '@c2n/sass/animation';
@use '@c2n/sass/css-variable' as css with (
  $prefix: c2-tooltip,
  $theme: (
    background-color: #322f35,
    color: #f5eff7,

    font-size: 12px,
    font-weight: null,
    font-style: null,
    font-family: null,

    padding-top: 4px,
    padding-right: 8px,
    padding-bottom: 4px,
    padding-left: 8px,

    max-wdith: 160px,
  )
);

:host {
  position: absolute;

  border-radius: 4px;
  display: inline-block;
  pointer-events: none;
  user-select: none;
  /* Animate in */
  opacity: 0;
  transform: scale(0.75);
  transition: animation.standard-deceleration(opacity), animation.standard-deceleration(transform);

  background: css.cssVar(background-color);
  color: css.cssVar(color);

  font-size: css.cssVar(font-size);
  font-weight: css.cssVar(font-weight);
  font-style: css.cssVar(font-style);
  font-family: css.cssVar(font-family);
}

:host([showing]) {
  opacity: 1;
  transform: scale(1);
}
.c2-tooltip {
  display: inline-flex;
  align-items: center;
  position: relative;

  padding-top: css.cssVar(padding-top);
  padding-right: css.cssVar(padding-right);
  padding-bottom: css.cssVar(padding-bottom);
  padding-left: css.cssVar(padding-left);
  max-width: css.cssVar(max-widt);

  width: max-content;
  ::slotted(svg),
  .arrow {
    position: absolute;
    background-color: transparent;
    color: css.cssVar(background-color);
  }
}
