**/node_modules/
/lib/
/test/
**/dist
**/types
**/.DS_Store
scripts/generator/plopfile.js
scripts/generator/tsconfig.tsbuildinfo
**/tsconfig.node.tsbuildinfo
**/.wireit
**/.angular/
apps/ui/public/demo/
/playwright-report/
/test-results/
/packages/tools/mcp/data/registry.json
