**/node_modules/
/lib/
/test/
**/dist
**/build/
**/.next/
**/out/
**/types
**/.DS_Store
*.log
.env*
*.tmp
*.swp
.vscode/
.idea/
scripts/generator/plopfile.js
scripts/generator/tsconfig.tsbuildinfo
**/tsconfig.node.tsbuildinfo
**/.wireit
**/.angular/
apps/ui/public/demo/
/playwright-report/
/test-results/
**/coverage/
*.tsbuildinfo
**/playwright-report/
**/test-results/
/packages/tools/mcp/data/registry.json
