@use '@c2n/sass/animation';
@use '@c2n/sass/variables';
@use '@c2n/sass/css-variable' as css with (
  $prefix: c2-side-nav,
  $theme: (
    open--width: 240px,
    open--height: 100%,
    close--width: 0px,
    close--height: 0px,

    background-color: null,
    border-top-left-radius: null,
    border-top-right-radius: null,
    border-bottom-left-radius: null,
    border-bottom-right-radius: null,

    padding-top: 16px,
    padding-right: 16px,
    padding-bottom: 16px,
    padding-left: 16px,

    border-top: null,
    border-bottom: null,
    border-right: null,
    border-left: null,

    over--position: fixed,
    over__open--width: 240px,
    over__open--height: 100vh,
    over__close--width: 240px,
    over__close--height: 100vh,

    over--top: 0px,
    over--left: 0px,
    over--background-color: variables.$color-bg,

    over--border-top-left-radius: null,
    over--border-top-right-radius: 8px,
    over--border-bottom-left-radius: null,
    over--border-bottom-right-radius: 8px,

    over--padding-top: 16px,
    over--padding-right: 16px,
    over--padding-bottom: 16px,
    over--padding-left: 16px,

    over--border-top: null,
    over--border-bottom: null,
    over--border-right: null,
    over--border-left: null,

    dropback--background-color: rgba(0, 0, 0, 0.2),
    dropback--z-index: 1001,
  )
);

// Side / Close
:host {
  display: block;
  .c2-side-nav {
    display: flex;
    .nav-content-animate {
      opacity: 0;
      box-sizing: content-box;
      overflow: hidden;
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: auto;
      width: css.cssVar(close--width);
      height: css.cssVar(close--height);
      transition: animation.standard-deceleration(width);
      z-index: 0;
      .nav-content {
        display: flex;
        position: fixed;
        box-sizing: content-box;
        width: css.cssVar(open--width);
        height: css.cssVar(open--height);
        opacity: 0;
        visibility: hidden;

        transition: animation.standard-acceleration(opacity);

        .scroll-container {
          box-sizing: content-box;
          overflow-y: auto;
          overflow-x: hidden;
          scrollbar-width: none;
          overscroll-behavior: none;
          touch-action: pan-y;
          flex: 1;

          background-color: css.cssVar(background-color);

          border-top-left-radius: css.cssVar(border-top-left-radius);
          border-top-right-radius: css.cssVar(border-top-right-radius);
          border-bottom-left-radius: css.cssVar(border-bottom-left-radius);
          border-bottom-right-radius: css.cssVar(border-bottom-right-radius);

          padding-top: css.cssVar(padding-top);
          padding-right: css.cssVar(padding-right);
          padding-bottom: css.cssVar(padding-bottom);
          padding-left: css.cssVar(padding-left);

          border-top: css.cssVar(border-top);
          border-bottom: css.cssVar(border-bottom);
          border-right: css.cssVar(border-right);
          border-left: css.cssVar(border-left);
          &::-webkit-scrollbar {
            display: none;
          }
        }
        .scrollbar-track {
          position: absolute;
          right: 0;
          top: 0;
          bottom: 0;
          width: 6px;
          cursor: default;
          z-index: 7;
          padding: 2px;
          .scrollbar-thumb {
            display: none;
            position: absolute;
            width: 6px;
            right: 2px;
            top: 0;
            &:after {
              content: '';
              position: absolute;
              inset: 2px 0;
              width: 100%;
              border-radius: 6px;
              background: var(--color-scrollbar, rgba(0, 0, 0, 0.15));
            }
          }
        }

        &:hover {
          .scrollbar-track {
            .scrollbar-thumb {
              display: block;
            }
          }
        }
      }
    }
    .main-content {
      opacity: 0;
      flex: 1 1 auto;
      z-index: 1;
    }
    .nav-content-animate.silent {
      transition: none;
    }
    .nav-content-animate.stable {
      opacity: 1;
    }
    .main-content.stable {
      opacity: 1;
    }
    .backdrop {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;
      background-color: css.cssVar(dropback--background-color);
    }
  }
}

// Side/open
:host([opened]) {
  .c2-side-nav {
    .nav-content-animate {
      width: css.cssVar(open--width);
      height: css.cssVar(open--height);
      z-index: 3;
      .nav-content {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

:host([position='right']) {
  .c2-side-nav {
    // flex-direction: row-reverse;
  }
}

// ------------------------------------
// Override config for over mode
// ------------------------------------

// Desktop
@media only screen and (min-width: 960px) {
  :host([opened][desktop-mode='over']) {
    .c2-side-nav {
      .backdrop {
        z-index: css.cssVar(dropback--z-index);
      }
      .main-content {
        z-index: calc(css.cssVar(dropback--z-index) - 1);
      }
      .nav-content-animate {
        z-index: calc(css.cssVar(dropback--z-index) + 1);
        width: css.cssVar(over__open--width);
        height: css.cssVar(over__open--height);
        .nav-content {
          opacity: 1;
          visibility: visible;
          position: relative;
        }
      }
    }
  }

  :host([desktop-mode='over']) {
    .c2-side-nav {
      .nav-content-animate {
        position: css.cssVar(over--position);
        top: css.cssVar(over--top);
        left: css.cssVar(over--left);
        .nav-content {
          width: css.cssVar(over__open--width);
          height: css.cssVar(over__open--height);
          .scroll-container {
            background-color: css.cssVar(over--background-color);
            border-top-left-radius: css.cssVar(over--border-top-left-radius);
            border-top-right-radius: css.cssVar(over--border-top-right-radius);
            border-bottom-left-radius: css.cssVar(over--border-bottom-left-radius);
            border-bottom-right-radius: css.cssVar(over--border-bottom-right-radius);

            padding-top: css.cssVar(over--padding-top);
            padding-right: css.cssVar(over--padding-right);
            padding-bottom: css.cssVar(over--padding-bottom);
            padding-left: css.cssVar(over--padding-left);

            border-top: css.cssVar(over--border-top);
            border-bottom: css.cssVar(over--border-bottom);
            border-right: css.cssVar(over--border-right);
            border-left: css.cssVar(over--border-left);
          }
        }
      }
    }
  }
}

// Tablet
@media only screen and (min-width: 600px) and (max-width: 959.98px) {
  :host([opened][tablet-mode='over']) {
    .c2-side-nav {
      .backdrop {
        z-index: css.cssVar(dropback--z-index);
      }
      .main-content {
        z-index: calc(css.cssVar(dropback--z-index) - 1);
      }
      .nav-content-animate {
        z-index: calc(css.cssVar(dropback--z-index) + 1);
        width: css.cssVar(over__open--width);
        height: css.cssVar(over__open--height);
        .nav-content {
          opacity: 1;
          visibility: visible;
          position: relative;
        }
      }
    }
  }
  :host([tablet-mode='over']) {
    .c2-side-nav {
      .nav-content-animate {
        position: css.cssVar(over--position);
        top: css.cssVar(over--top);
        left: css.cssVar(over--left);
        .nav-content {
          width: css.cssVar(over__open--width);
          height: css.cssVar(over__open--height);
          .scroll-container {
            background-color: css.cssVar(over--background-color);
            border-top-left-radius: css.cssVar(over--border-top-left-radius);
            border-top-right-radius: css.cssVar(over--border-top-right-radius);
            border-bottom-left-radius: css.cssVar(over--border-bottom-left-radius);
            border-bottom-right-radius: css.cssVar(over--border-bottom-right-radius);

            padding-top: css.cssVar(over--padding-top);
            padding-right: css.cssVar(over--padding-right);
            padding-bottom: css.cssVar(over--padding-bottom);
            padding-left: css.cssVar(over--padding-left);

            border-top: css.cssVar(over--border-top);
            border-bottom: css.cssVar(over--border-bottom);
            border-right: css.cssVar(over--border-right);
            border-left: css.cssVar(over--border-left);
          }
        }
      }
    }
  }
}

// Phone
@media only screen and (max-width: 599.98px) {
  :host([opened]) {
    .c2-side-nav {
      .backdrop {
        z-index: css.cssVar(dropback--z-index);
      }
      .main-content {
        z-index: calc(css.cssVar(dropback--z-index) - 1);
      }
      .nav-content-animate {
        z-index: calc(css.cssVar(dropback--z-index) + 1);

        width: css.cssVar(over__open--width);
        height: css.cssVar(over__open--height);
        .nav-content {
          opacity: 1;
          visibility: visible;
          position: relative;
        }
      }
    }
  }
  :host {
    .c2-side-nav {
      .nav-content-animate {
        position: css.cssVar(over--position);
        top: css.cssVar(over--top);
        left: css.cssVar(over--left);
        .nav-content {
          width: css.cssVar(over__open--width);
          height: css.cssVar(over__open--height);
          .scroll-container {
            background-color: css.cssVar(over--background-color);
            border-top-left-radius: css.cssVar(over--border-top-left-radius);
            border-top-right-radius: css.cssVar(over--border-top-right-radius);
            border-bottom-left-radius: css.cssVar(over--border-bottom-left-radius);
            border-bottom-right-radius: css.cssVar(over--border-bottom-right-radius);

            padding-top: css.cssVar(over--padding-top);
            padding-right: css.cssVar(over--padding-right);
            padding-bottom: css.cssVar(over--padding-bottom);
            padding-left: css.cssVar(over--padding-left);

            border-top: css.cssVar(over--border-top);
            border-bottom: css.cssVar(over--border-bottom);
            border-right: css.cssVar(over--border-right);
            border-left: css.cssVar(over--border-left);
          }
        }
      }
    }
  }
}
