@use '@c2n/sass/animation';
@use '@c2n/sass/variables';
@use '@c2n/sass/css-variable' as css with (
  $prefix: c2-expansion-panel,
  $theme: (
    border-top: 1px solid variables.$color-border-light,
    border-bottom: 1px solid variables.$color-border-light,
    border-right: 1px solid variables.$color-border-light,
    border-left: 1px solid variables.$color-border-light,
    border-radius: 16px,

    padding-top: 16px,
    padding-right: 16px,
    padding-bottom: 16px,
    padding-left: 16px,
    box-shadow: none,

    title__icon--width: 24px,
    title__title__icon--height: 24px,
    title--gap: 16px,
    title__hover--background: variables.$color-bg-dark,
    title--background: transparent,
    title__icon--rotate: 180deg,
  )
);

:host {
  display: flex;

  .c2-expansion-panel {
    flex: 1;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    box-shadow: css.cssVar(box-shadow);
    border-radius: css.cssVar(border-radius);
    position: relative;
    .c2-expansion-panel-header {
      display: flex;
      flex-direction: column;
      border-top: css.cssVar(border-top);
      border-bottom: css.cssVar(border-bottom);
      border-right: css.cssVar(border-right);
      border-left: css.cssVar(border-left);
      border-radius: css.cssVar(border-radius);

      will-change: border-radius;
      transition: animation.standard-acceleration(border-radius, 50ms);

      slot[name='icon'] {
        cursor: pointer;
        &::slotted(svg) {
          width: css.cssVar(title__icon--width);
          height: css.cssVar(title__icon--height);
          transform: rotate(0deg);
          will-change: transform;
          transition: animation.standard(transform);
        }
      }

      slot[name='expanded-icon'] {
        display: none;
        cursor: pointer;
        &::slotted(svg) {
          width: css.cssVar(title__icon--width);
          height: css.cssVar(title__icon--height);
        }
      }

      .default-icon {
        width: css.cssVar(title__icon--width);
        height: css.cssVar(title__icon--height);
        transform: rotate(0deg);
        will-change: transform;
        transition: animation.standard(transform);
      }

      .c2-expansion-panel-header-title {
        border-radius: inherit;
        display: flex;
        align-items: center;
        gap: css.cssVar(title--gap);
        background: css.cssVar(title--background);
        padding-top: css.cssVar(padding-top);
        padding-right: css.cssVar(padding-right);
        padding-bottom: css.cssVar(padding-bottom);
        padding-left: css.cssVar(padding-left);
        position: relative;
        cursor: pointer;
        transition: animation.standard(background);
        &:hover {
          background: css.cssVar(title__hover--background);
        }
        .c2-expansion-panel-header-title-content {
          flex: 1;
          display: flex;
          align-items: center;
        }
      }
      .c2-expansion-panel-header-title:has(+ .c2-expansion-panel-header-content[data-filled]) {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
      }

      .c2-expansion-panel-header-content {
        padding-right: css.cssVar(padding-right);
        padding-left: css.cssVar(padding-left);
        &:has(slot[data-filled]) {
          border-top-right-radius: 0px;
          border-top-left-radius: 0px;
          border-bottom-left-radius: inherit;
          border-bottom-right-radius: inherit;
        }
      }
    }

    .c2-expansion-panel-content {
      display: none;
      box-sizing: border-box;
      border-right: css.cssVar(border-right);
      border-left: css.cssVar(border-left);

      padding-top: 0px;
      padding-left: css.cssVar(padding-left);
      padding-right: css.cssVar(padding-right);
      padding-bottom: css.cssVar(padding-bottom);

      position: relative;
      will-change: height, opacity, display;
      transition: animation.standard(max-height);

      animation-duration: 150ms;
      animation-timing-function: ease;
      text-transform: none;

      overflow: hidden;
    }
  }
  // .c2-expansion-panel-content__detect-height {
  //   position: absolute;
  //   visibility: hidden;
  //   opacity: 0;
  //   z-index: -1;
  //   padding-right: css.cssVar(padding-right);
  //   padding-left: css.cssVar(padding-left);
  //   padding-top: css.cssVar(padding-top);
  //   padding-bottom: css.cssVar(padding-bottom);
  // }
}

:host([expanded]) {
  .c2-expansion-panel {
    .c2-expansion-panel-header {
      border-bottom: none;
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 0px;

      .c2-expansion-panel-header-title {
        padding-bottom: css.cssVar(padding-top);
      }

      slot[name='expanded-icon'][data-filled] {
        display: contents;
      }
      // has expanded icon
      slot[name='expanded-icon'][data-filled] + slot[name='icon'] {
        display: none;
      }
      slot[name='icon'] {
        &::slotted(svg) {
          transform: rotate(css.cssVar(title__icon--rotate));
        }
      }
      .default-icon {
        transform: rotate(css.cssVar(title__icon--rotate));
      }
    }
    .c2-expansion-panel-content {
      border-bottom: css.cssVar(border-bottom);
      border-radius: css.cssVar(border-radius);
      border-top-right-radius: 0px;
      border-top-left-radius: 0px;
      display: block;
      // height: var(--c2-expansion-panel-content-height, 0px);
      // max-height: var(--c2-expansion-panel-content-height, 0px);
    }
  }
}

:host([title-not-clickable]) {
  .c2-expansion-panel {
    .c2-expansion-panel-header {
      .c2-expansion-panel-header-title {
        &:hover {
          background: inherit;
        }
      }
    }
  }
}
