@use '@c2n/sass/animation';
@use '@c2n/sass/variables';
@use '@c2n/sass/css-variable' as css with (
  $prefix: c2-color-area,
  $theme: (
    width: 240px,
    height: 240px,
    color-handle--size: 12px,

    border-top-left-radius: null,
    border-top-right-radius: null,
    border-bottom-left-radius: null,
    border-bottom-right-radius: null,
  )
);

:host {
  display: block;
}

.c2-color-area {
  display: block;
  position: relative;
  padding: calc(css.cssVar(color-handle--size) - 6px);
  width: fit-content;
  height: fit-content;
  .gradient {
    width: 100%;
    height: 100%;
    width: css.cssVar(width);
    height: css.cssVar(height);
    border-top-left-radius: css.cssVar(border-top-left-radius);
    border-top-right-radius: css.cssVar(border-top-right-radius);
    border-bottom-left-radius: css.cssVar(border-bottom-left-radius);
    border-bottom-right-radius: css.cssVar(border-bottom-right-radius);
  }
  .color-handle {
    position: absolute;
    pointer-events: none;
    box-sizing: border-box;
    width: css.cssVar(color-handle--size);
    height: css.cssVar(color-handle--size);
    border-radius: 50%;
    top: 0;
    left: 0;
    border: 2px solid white;
    background: transparent;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 0px 0.6px;
    cursor: inherit;
  }
}
