@use '@c2n/sass/animation';
@use '@c2n/sass/variables';
@use '@c2n/sass/css-variable' as css with (
  $prefix: c2-list-item,
  $theme: (
    border-top-left-radius: null,
    border-top-right-radius: null,
    border-bottom-left-radius: null,
    border-bottom-right-radius: null,

    padding: 8px 8px 8px 8px,

    font-size: 14px,
    font-weight: null,
    font-style: normal,
    font-family: null,

    border-top: 0px solid transparent,
    border-bottom: 0px solid transparent,
    border-right: 0px solid transparent,
    border-left: 0px solid transparent,

    color: initial,
    background: transparent,

    hover--border-top: null,
    hover--border-bottom: null,
    hover--border-right: null,
    hover--border-left: null,
    hover--color: null,
    hover--background: variables.$color-bg-dark,

    selected--border-top: null,
    selected--border-bottom: null,
    selected--border-right: null,
    selected--border-left: null,
    selected--color: null,
    selected--background: variables.$color-bg-dark,
  )
);

:host {
  display: block;
  flex: 1;
  user-select: none;
}

.c2-list-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  flex: 1;
  font-size: css.cssVar(font-size);
  font-weight: css.cssVar(font-weight);
  font-style: css.cssVar(font-style);
  font-family: css.cssVar(font-family);

  border-top-left-radius: css.cssVar(border-top-left-radius);
  border-top-right-radius: css.cssVar(border-top-right-radius);
  border-bottom-left-radius: css.cssVar(border-bottom-left-radius);
  border-bottom-right-radius: css.cssVar(border-bottom-right-radius);

  padding: css.cssVar(padding);

  border-top: css.cssVar(border-top);
  border-bottom: css.cssVar(border-bottom);
  border-right: css.cssVar(border-right);
  border-left: css.cssVar(border-left);
  background: css.cssVar(background);
  color: css.cssVar(color);

  will-change: background, color, border;
  transition: animation.standard(background), animation.standard(color), animation.standard(border);

  &:hover {
    border-top: css.cssVar(hover--border-top, border-top);
    border-bottom: css.cssVar(hover--border-bottom, border-bottom);
    border-right: css.cssVar(hover--border-right, border-right);
    border-left: css.cssVar(hover--border-left, border-left);

    background: css.cssVar(hover--background, background);
    color: css.cssVar(hover--color, color);
  }
}

:host([selected]) {
  .c2-list-item {
    border-top: css.cssVar(selected--border-top, hover--border-top, border-top);
    border-bottom: css.cssVar(selected--border-bottom, hover--border-bottom, border-bottom);
    border-right: css.cssVar(selected--border-right, hover--border-right, border-right);
    border-left: css.cssVar(selected--border-left, hover--border-left, border-left);

    background: css.cssVar(selected--background, hover--background, background);
    color: css.cssVar(selected--color, hover--color, color);
  }
}

:host([disabled]) {
  .c2-list-item {
    pointer-events: none;
    opacity: variables.$disabled-content-opacity;
  }
}
