@use '@c2n/sass/animation';
@use '@c2n/sass/variables';
@use '@c2n/sass/css-variable' as css with (
  $prefix: c2-list-item,
  $theme: (
    border-top-left-radius: inherit,
    border-top-right-radius: inherit,
    border-bottom-left-radius: inherit,
    border-bottom-right-radius: inherit,

    padding: 4px 8px 4px 8px,

    border-top: 0px solid transparent,
    border-bottom: 0px solid transparent,
    border-right: 0px solid transparent,
    border-left: 0px solid transparent,
    color: inherit,
    background: transparent,

    hover-border-top: inherit,
    hover-border-bottom: inherit,
    hover-border-right: inherit,
    hover-border-left: inherit,
    hover-color: inherit,
    hover-background: variables.$color-bg-dark,

    selected-border-top: inherit,
    selected-border-bottom: inherit,
    selected-border-right: inherit,
    selected-border-left: inherit,
    selected-background: variables.$color-bg-dark,
    selected-color: inherit,
  )
);

:host {
  display: contents;
  user-select: none;
}

.c2-list-item {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  flex: 1;

  border-top-left-radius: css.cssVar(border-top-left-radius);
  border-top-right-radius: css.cssVar(border-top-right-radius);
  border-bottom-left-radius: css.cssVar(border-bottom-left-radius);
  border-bottom-right-radius: css.cssVar(border-bottom-right-radius);

  padding: css.cssVar(padding);

  border-top: css.cssVar(border-top);
  border-bottom: css.cssVar(border-bottom);
  border-right: css.cssVar(border-right);
  border-left: css.cssVar(border-left);
  background: css.cssVar(background);
  color: css.cssVar(color);

  will-change: background, color, border;
  transition: animation.standard(background), animation.standard(color), animation.standard(border);

  &:hover {
    border-top: css.cssVar(hover-border-top);
    border-bottom: css.cssVar(hover-border-bottom);
    border-right: css.cssVar(hover-border-right);
    border-left: css.cssVar(hover-border-left);

    background: css.cssVar(hover-background);
    color: css.cssVar(hover-color);
  }
}

:host([selected]) {
  .c2-list-item {
    border-top: css.cssVar(selected-border-top, hover-border-top);
    border-bottom: css.cssVar(selected-border-bottom, hover-border-bottom);
    border-right: css.cssVar(selected-border-right, hover-border-right);
    border-left: css.cssVar(selected-border-left, hover-border-left);

    background: css.cssVar(selected-background, hover-background);
    color: css.cssVar(selected-color, hover-color);
  }
}

:host([disabled]) {
  .c2-list-item {
    pointer-events: none;
    opacity: variables.$disabled-content-opacity;
  }
}
