@use '@c2n/sass/animation';
@use '@c2n/sass/variables';
@use '@c2n/sass/css-variable' as css with (
  $prefix: c2-tabs,
  $theme: ()
);

:host {
  display: inline-flex;
  user-select: none;
  cursor: pointer;
}
