@use '@c2n/sass/animation';
@use '@c2n/sass/variables';
@use '@c2n/sass/css-variable' as css with (
  $prefix: c2-tabs,
  $theme: (
    box-shadow: inset 0px -2px 0px 0px variables.$color-border-light,
    justify-content: flex-center,
    background-color: transparent,
    height: auto,
    font-weight: inherit,

    tab--padding: 8px 16px 8px 16px,
    tab--color: inherit,
    tab--background-color: transparent,
    tab--border-radius: inherit,

    tab__hover--color: variables.$color-blue,
    tab__hover--background-color: transparent,

    tab__selected--color: variables.$color-blue,
    tab__selected--background-color: transparent,

    tab__disabled-color: inherit,
    tab__disabled-background-color: transparent,

    indicator--color: variables.$color-border-dark,
    indicator--border-radius: inherit,
    indicator--height: 2px,
  )
);

:host {
  display: block;
}

.c2-tabs {
  display: flex;
  flex-direction: column;

  .c2-tabs-header {
    display: flex;
    align-items: center;
    box-shadow: css.cssVar(box-shadow);
    justify-content: css.cssVar(justify-content);
    background-color: css.cssVar(background-color);
    height: css.cssVar(height);
    font-weight: css.cssVar(font-weight);
    position: relative;
    padding-bottom: css.cssVar(indicator--height);
    .selection-indicator {
      position: absolute;
      will-change: transform;
      transform-origin: top left;
      left: 0;
      bottom: 0;
      width: 1px;
      z-index: 1;
      background-color: css.cssVar(indicator--color);
      border-radius: css.cssVar(indicator--border-radius);
      height: css.cssVar(indicator--height);
      transition: animation.standard-acceleration(transform);
      &.first-position {
        transition: none;
      }
    }
    ::slotted(c2-tab) {
      padding: css.cssVar(tab--padding);
      color: css.cssVar(tab--color);
      background-color: css.cssVar(tab--background-color);
      border-radius: css.cssVar(tab--border-radius);
      will-change: color background-color;
      transition: animation.standard(background-color), animation.standard(color);
    }

    ::slotted(c2-tab:hover) {
      color: css.cssVar(tab__hover--color);
      background-color: css.cssVar(tab__hover--background-color);
    }

    ::slotted(c2-tab[selected]) {
      color: css.cssVar(tab__selected--color, tab__hover--color);
      background-color: css.cssVar(tab__selected--background-color);
    }

    ::slotted(c2-tab[disabled]) {
      opacity: variables.$disabled-content-opacity;
      pointer-events: none;
    }
  }
}
