:host {
  display: block;
  font-size: 12px;
  --c2-details--border-bottom: 1px solid var(--site-color-outline);
  --c2-details--border-top: none;
  --c2-details--border-left: none;
  --c2-details--border-right: none;

  --c2-details__header--padding-top: 16px;
  --c2-details__header--padding-right: 16px;
  --c2-details__header--padding-bottom: 16px;
  --c2-details__header--padding-left: 16px;
  --c2-details__header--flex-direction: row-reverse;
  --c2-details__header__icon--rotate: 90deg;
  --c2-details__header--gap: 8px;
  --c2-details__header__icon--width: 12px;
  --c2-details__header__icon--height: 12px;
  --c2-details__header__hover--background-color: transparent;

  --c2-text-field--font-size: 10px;
  --c2-text-field--padding-top: 6px;
  --c2-text-field--padding-bottom: 6px;

  --c2-checkbox__touchable--size: 24px;
  --c2-checkbox__state-layer--size: 32px;
  --c2-checkbox__container--height: 16px;
  --c2-checkbox__container--width: 16px;
  --c2-checkbox__state-layer__hover__selected--color: var(--site-color-primary);
  --c2-checkbox__state-layer__hover__unselected--color: var(--site-color-primary);

  --c2-select__button--font-size: 10px;
  --c2-select__button__suffix-icon--width: 12px;
  --c2-select__button__suffix-icon--height: 12px;
  --c2-select__button__prefix-icon--width: 12px;
  --c2-select__button__prefix-icon--height: 12px;

  --c2-select__button--padding: 8px 8px 8px 8px;
  --c2-select__button__hover--background: transparent;
  --c2-select__button--background: transparent;
  --c2-list-item--font-size: 10px;

  --c2-select__button--color: var(--site-color-on-surface);
  --c2-select__button__hover--color: var(--site-color-on-surface);
  --c2-select__button--border-top: 1px solid transparent;
  --c2-select__button--border-right: 1px solid transparent;
  --c2-select__button--border-bottom: 1px solid transparent;
  --c2-select__button--border-left: 1px solid transparent;

  --c2-text-field--background: transparent;
  --c2-text-field--border-top: 1px solid transparent;
  --c2-text-field--border-right: 1px solid transparent;
  --c2-text-field--border-bottom: 1px solid transparent;
  --c2-text-field--border-left: 1px solid transparent;

  --c2-text-field__focus--border-top: 1px solid var(--site-color-primary);
  --c2-text-field__focus--border-right: 1px solid var(--site-color-primary);
  --c2-text-field__focus--border-bottom: 1px solid var(--site-color-primary);
  --c2-text-field__focus--border-left: 1px solid var(--site-color-primary);

  --c2-icon-button__icon--width: 12px;
  --c2-icon-button__icon--height: 12px;
  --c2-icon-button__state-layer--size: 24px;
  --c2-tabs__tab--padding-top: 16px;
  --c2-tabs__tab--padding-left: 16px;
  --c2-tabs__tab--padding-right: 16px;
  --c2-tabs__tab--padding-bottom: 16px;
  --c2-tabs__indicator--height: 2px;
  --c2-tabs--box-shadow: inset 0px -2px 0px 0px rgb(230 230 230);
  --c2-tabs__indicator--color: var(--site-color-primary);

  --c2-list--background: var(--site-color-surface);
  --c2-list-item--color: var(--site-color-on-surface);
  --c2-list-item__hover--background: var(--site-color-surface-container-5);
  --c2-list-item__selected--background: var(--site-color-surface-container-3);
}

c2-text-field:hover {
  --c2-text-field--border-top: 1px solid var(--site-color-outline);
  --c2-text-field--border-right: 1px solid var(--site-color-outline);
  --c2-text-field--border-bottom: 1px solid var(--site-color-outline);
  --c2-text-field--border-left: 1px solid var(--site-color-outline);
}

c2-text-field.number {
  width: 80px;
}

c2-details:not(.sub-details):first-of-type {
  --c2-details--border-radius: 8px 8px 0px 0px;
}

c2-details:not(.sub-details):last-of-type {
  --c2-details--border-radius: 0px 0px 8px 8px;
}

c2-details.sub-details {
  --c2-details--border-bottom: none;
  --c2-details--border-top: none;
  --c2-details__content--padding-left: 12px;
  --c2-details__content--padding-right: 12px;
  --c2-details__content--padding-bottom: 0px;
}

c2-details:has(> .sub-details) {
  --c2-details__content--padding-left: 0px;
  --c2-details__content--padding-right: 0px;
}

.config-content-group {
  display: flex;
  flex-direction: column;
}

.config-content-group > .row {
  border-bottom: 1px solid var(--site-color-outline);
  padding: 12px 16px 12px 20px;
}

.config-content-group-css {
  padding-top: 4px;
  padding-bottom: 4px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 8px 0px 12px;
}
.title {
  font-weight: 500;
}
c2-label {
  font-weight: 300;
}
.property-name {
}
.header {
  position: relative;
}
.close-button {
  position: absolute;
  top: 11px;
  right: 8px;
}
#component-select {
  width: 160px;
}
.level-1 {
  --c2-list-item--padding-left: 16px;
}
