// Phone in portrait
@media only screen and (max-width: 599.98px) {
  body > header {
    gap: 4px !important;
  }
  .hide-mobile {
    display: none;
  }
  .hide-tablet {
    display: none;
  }
  :root {
    --body-margin: 8px !important;
  }
}

// Tablet in portrait
// Foldable in portrait (unfolded)
@media only screen and (min-width: 600px) and (max-width: 959.98px) {
  body > header {
    gap: 8px !important;
  }

  .hide-tablet {
    display: none;
  }
  :root {
    --body-margin: 20px !important;
  }
}

// Phone in landscape *
// Tablet in landscape
// Foldable in landscape (unfolded)
// Desktop
@media only screen and (min-width: 960px) {
  .hide-desktop {
    display: none;
  }
}
