:root {
  --primary-text-color: #212121;
}
html {
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  color: var(--primary-text-color);
  font-feature-settings: normal;
  font-variation-settings: normal;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: inherit;
}

.demo-code {
  background-color: rgb(248, 248, 248);
  --c2-expansion-panel-border-radius: 16px 16px 16px 16px;
  --c2-expansion-panel-border-right: 1px solid rgb(213, 213, 213);
  --c2-expansion-panel-border-left: 1px solid rgb(213, 213, 213);

  .reset {
    --c2-expansion-panel-border-radius: '';
    --c2-expansion-panel-border-right: '';
    --c2-expansion-panel-border-left: '';
    min-height: 64px;
  }
  .open-close-icon {
    position: absolute;
    top: 16px;
    right: 16px;
  }
  .source-btn {
    position: absolute;
    font-size: 12px;
    top: 26px;
    right: 64px;
  }
  .content-copy-icon {
    position: absolute;
    top: 24px;
    right: 24px;
    z-index: 100;
    --c2-mat-icon-icon-size: 32px;
    --c2-mat-icon-icon-color: rgba(248, 248, 248, 0.5);
    cursor: pointer;
    &:hover {
      --c2-mat-icon-icon-color: rgba(248, 248, 248, 0.8);
    }
  }
  pre {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.main-content {
  max-width: 1080px;
  margin: auto;
}
