---
import { Code } from 'astro:components'
import { IconButton } from '@c2n/icon-button'
import type * as shiki from 'shikiji'

interface Props {
  code: string
  lang?: shiki.BuiltinLanguage
  github?: string
  uid?: string
}

const { code: rawCode, lang, github, uid } = Astro.props
let code = rawCode.replace(/\\\\/g, '\\')
code = rawCode.replace(/\\n/g, '\n')
code = code.replace(/\\"/g, '"')
code = code.replace(/^"|"$/g, '')
---

<div class="code" data-uid={uid} data-lang={lang}>
  <Code code={code} lang={lang ?? 'typescript'} wrap />
  <IconButton client:load class="content-copy-icon" tooltip="Copy to clipboard">
    <svg fill="currentColor" viewBox="0 0 256 256">
      <path
        d="M216,32H88a8,8,0,0,0-8,8V80H40a8,8,0,0,0-8,8V216a8,8,0,0,0,8,8H168a8,8,0,0,0,8-8V176h40a8,8,0,0,0,8-8V40A8,8,0,0,0,216,32ZM160,208H48V96H160Zm48-48H176V88a8,8,0,0,0-8-8H96V48H208Z"
      ></path>
    </svg>
  </IconButton>
</div>

<style lang="scss" is:global>
  .code {
    position: relative;
    .content-copy-icon {
      position: absolute;
      top: 5px;
      right: 5px;
      z-index: 100;
      --c2-icon-button__icon--size: 18px;
      --c2-icon-button__icon--color: rgba(248, 248, 248, 0.5);
      --c2-icon-button__icon__hover--color: rgba(248, 248, 248, 0.8);
      --c2-icon-button__hover--background-color: transparent;
      --c2-tooltip--background-color: rgb(71 85 105);
    }
    pre {
      padding: 20px;
      border-radius: 8px;
    }
  }
</style>

<script>
  import { closestElementSibling } from '../utils/dom.ts'

  const copyBtns = document.querySelectorAll('.code .content-copy-icon')
  copyBtns.forEach((button) => {
    button.addEventListener('click', async (e) => {
      const icon = e.currentTarget as HTMLElement
      const codeElement = closestElementSibling(icon, '.astro-code')
      if (codeElement && codeElement.nodeName === 'PRE') {
        const code = codeElement.querySelector('code')
        const text = code!.innerText
        await navigator.clipboard.writeText(text)
        icon.innerHTML =
          '<svg fill="currentColor" viewBox="0 0 256 256"><path d="M229.66,77.66l-128,128a8,8,0,0,1-11.32,0l-56-56a8,8,0,0,1,11.32-11.32L96,188.69,218.34,66.34a8,8,0,0,1,11.32,11.32Z"></path></svg>'
        setTimeout(() => {
          icon.innerHTML =
            '<svg  fill="currentColor" viewBox="0 0 256 256"><path d="M216,32H88a8,8,0,0,0-8,8V80H40a8,8,0,0,0-8,8V216a8,8,0,0,0,8,8H168a8,8,0,0,0,8-8V176h40a8,8,0,0,0,8-8V40A8,8,0,0,0,216,32ZM160,208H48V96H160Zm48-48H176V88a8,8,0,0,0-8-8H96V48H208Z"></path></svg> '
        }, 1000)
      }
    })
  })
</script>
