---
import { Code } from 'astro:components'
import type * as shiki from 'shiki'

interface Props {
  code: string
  lang?: shiki.Lang
  github?: string
  uid?: string
}

const { code, lang, github, uid } = Astro.props
---

<div class="code" data-uid={uid} data-lang={lang}>
  <Code code={code} lang={lang ?? 'typescript'} wrap />
  <c2-icon-button class="content-copy-icon" data-tooltip="Copy to clipboard">
    <svg fill="currentColor" viewBox="0 0 256 256">
      <path
        d="M216,32H88a8,8,0,0,0-8,8V80H40a8,8,0,0,0-8,8V216a8,8,0,0,0,8,8H168a8,8,0,0,0,8-8V176h40a8,8,0,0,0,8-8V40A8,8,0,0,0,216,32ZM160,208H48V96H160Zm48-48H176V88a8,8,0,0,0-8-8H96V48H208Z"
      ></path>
    </svg>
  </c2-icon-button>
</div>

<style lang="scss" is:global>
  .code {
    position: relative;
    .content-copy-icon {
      position: absolute;
      top: 0px;
      right: 0px;
      z-index: 100;
      --c2-icon-button-icon-size: 18px;
      --c2-icon-button-icon-color: rgba(248, 248, 248, 0.5);
      --c2-icon-button-hover-icon-color: rgba(248, 248, 248, 0.8);
      --c2-icon-button-hover-bg-color: transparent;
      --c2-tooltip-bg-color: rgb(71 85 105);
    }
    pre {
      padding: 20px;
      border-radius: 8px;
    }
  }
</style>

<script>
  const copyBtns = document.querySelectorAll('.code .content-copy-icon')
  copyBtns.forEach((button) => {
    button.addEventListener('click', async (e) => {
      const icon = e.currentTarget as HTMLElement
      const codeElement = icon.previousElementSibling
      if (codeElement && codeElement.nodeName === 'PRE') {
        const code = codeElement.querySelector('code')
        const text = code!.innerText
        await navigator.clipboard.writeText(text)
        icon.innerHTML =
          '<svg fill="currentColor" viewBox="0 0 256 256"><path d="M229.66,77.66l-128,128a8,8,0,0,1-11.32,0l-56-56a8,8,0,0,1,11.32-11.32L96,188.69,218.34,66.34a8,8,0,0,1,11.32,11.32Z"></path></svg>'
        setTimeout(() => {
          icon.innerHTML =
            '<svg  fill="currentColor" viewBox="0 0 256 256"><path d="M216,32H88a8,8,0,0,0-8,8V80H40a8,8,0,0,0-8,8V216a8,8,0,0,0,8,8H168a8,8,0,0,0,8-8V176h40a8,8,0,0,0,8-8V40A8,8,0,0,0,216,32ZM160,208H48V96H160Zm48-48H176V88a8,8,0,0,0-8-8H96V48H208Z"></path></svg> '
        }, 1000)
      }
    })
  })
</script>
