---
import { getCollection } from 'astro:content'
import { HyperlinkList } from '@c2n/hyperlink-list'

interface Props {
  componentId: string
  class?: string
}

const base = import.meta.env.BASE_URL
const allComponents = await getCollection('components')
const hoverClass = 'hover:bg-sky-100  hover:backdrop-blur-lg'
const { componentId, class: className } = Astro.props
---

<HyperlinkList client:load class={`list-component ${className}`}>
  {
    allComponents.map((component) => (
      <a href={`${base}/components/${component.slug}`} data-selected={componentId == component.slug}>
        {component.data.title}
      </a>
    ))
  }
</HyperlinkList>

<style>
  .list-component {
    /* box-shadow: inset 1px 0px 0px 0px var(--border-color-100); */

    --c2-hyperlink-list__item__hover--color: var(--logo-color-1);
    --c2-hyperlink-list__item__selected--color: white;
    --c2-hyperlink-list__item__selected--background: var(--logo-color-2);
    --c2-hyperlink-list__item__hover--background: transparent;
    --c2-hyperlink-list__item--padding-top: 12px;
    --c2-hyperlink-list__item--padding-right: 8px;
    --c2-hyperlink-list__item--padding-bottom: 12px;
    --c2-hyperlink-list__item--padding-left: 24px;
    --c2-hyperlink-list__item--border-radius: 0px 4px 4px 0px;
    --c2-hyperlink-list__item--border-top-left-radius: 0px;
    --c2-hyperlink-list__item--border-top-right-radius: 4px;
    --c2-hyperlink-list__item--border-bottom-left--radius: 0px;
    --c2-hyperlink-list__item--border-bottom-right-radius: 4px;
    --c2-hyperlink-list--padding-right: 16px;
  }
</style>
<script>
  // document.addEventListener('astro:page-load', () => {
  document.querySelector('.list-component > a[data-selected]')?.scrollIntoView({
    block: 'center',
    behavior: 'instant',
  })
  // })
</script>
