---
import { getCollection } from 'astro:content'
import { HyperlinkList } from '@c2n/hyperlink-list'

interface Props {
  componentId: string
  class?: string
}

const base = import.meta.env.BASE_URL
const allComponents = await getCollection('components')
const hoverClass = 'hover:bg-sky-100  hover:backdrop-blur-lg'
const { componentId, class: className } = Astro.props
---

<HyperlinkList client:load class={`list-component ${className}`}>
  {
    allComponents.map((component) => (
      <a href={`${base}/components/${component.slug}`} data-selected={componentId == component.slug}>
        {component.data.title}
      </a>
    ))
  }
</HyperlinkList>

<style>
  .list-component {
    /* box-shadow: inset 1px 0px 0px 0px var(--border-color-100); */
    --c2-hyperlink-list__item__hover--color: inherit;
    --c2-hyperlink-list__item--padding: 2px 0px 2px 24px;
    --c2-hyperlink-list__item--gap: 16px;
    --c2-hyperlink-list__item--border-left: 2px solid transparent;
    --c2-hyperlink-list__item__hover--border-left: 2px solid var(--logo-color-1);
    --c2-hyperlink-list__item__hover--border-left: 2px solid var(--logo-color-1);
  }
</style>
