---
import { getCollection } from 'astro:content';

interface Props {
	componentId: string;
    class: string
}

const base = import.meta.env.BASE_URL
const allComponents = await getCollection('components');
const hoverClass = "hover:bg-sky-100  hover:backdrop-blur-lg"
const { componentId, class: className  } = Astro.props
---

<c2-hyperlink-list class={`list-component ml-6 ${className}`}>
    {allComponents.map(component => (
        <a href={`${base}/components/${component.slug}`}  data-selected={componentId == component.slug}>
            {component.data.title}
        </a>
      ))
    }
</c2-hyperlink-list>

<style>
    .list-component {
        --c2-hyperlink-list-hover-item-color: rgb(2, 101, 220);        
    }
</style>