---

interface Props {
	class: string;
    pageTitle: string
}

const { class: className, pageTitle } = Astro.props;

---
<nav class={`${className} flex items-center gap-2 pt-4 pb-6 ml-6`} >
    <span class="text-lg font-medium">CW Library</span>
</nav>