@use '@c2n/sass/animation';
@use '@c2n/sass/variables';
@use '@c2n/sass/css-variable' as css with (
  $prefix: c2-color-slider,
  $theme: (
    border-top-left-radius: 8px,
    border-top-right-radius: 8px,
    border-bottom-left-radius: 8px,
    border-bottom-right-radius: 8px,

    border-top: 1px solid variables.$color-bg,
    border-bottom: 1px solid variables.$color-bg,
    border-right: 1px solid variables.$color-bg,
    border-left: 1px solid variables.$color-bg,

    width: 160px,
    height: 12px,

    color-handle--width: 12px,
    color-handle--height: 12px,

    color-handle--border-top-left-radius: 6px,
    color-handle--border-top-right-radius: 6px,
    color-handle--border-bottom-left-radius: 6px,
    color-handle--border-bottom-right-radius: 6px,
  )
);

:host {
  display: block;
}

.c2-color-slider {
  display: block;
  position: relative;
  cursor: pointer;
  touch-action: none;
  outline: none;

  .gradient {
    flex: 1;
    border-top-left-radius: css.cssVar(border-top-left-radius);
    border-top-right-radius: css.cssVar(border-top-right-radius);
    border-bottom-left-radius: css.cssVar(border-bottom-left-radius);
    border-bottom-right-radius: css.cssVar(border-bottom-right-radius);

    border-top: css.cssVar(border-top);
    border-bottom: css.cssVar(border-bottom);
    border-right: css.cssVar(border-right);
    border-left: css.cssVar(border-left);

    width: css.cssVar(width);
    height: css.cssVar(height);

    pointer-events: none;
    background: linear-gradient(
      to right,
      rgb(255 0 0) 0%,
      rgb(255 255 0) 17%,
      rgb(0 255 0) 33%,
      rgb(0 255 255) 50%,
      rgb(0 0 255) 67%,
      rgb(255 0 255) 83%,
      rgb(255 0 0) 100%
    );
    ::slotted(*) {
      width: css.cssVar(width);
      height: css.cssVar(height);
      border-top-left-radius: css.cssVar(border-top-left-radius);
      border-top-right-radius: css.cssVar(border-top-right-radius);
      border-bottom-left-radius: css.cssVar(border-bottom-left-radius);
      border-bottom-right-radius: css.cssVar(border-bottom-right-radius);
    }
  }

  .input-slider {
    position: absolute;
    margin: 0;
    padding: 0;
    opacity: 0;
    cursor: inherit;
    top: 0;
    left: 0;
    width: css.cssVar(width);
    height: css.cssVar(height);
  }
  .color-handle {
    position: absolute;
    pointer-events: none;
    box-sizing: border-box;

    width: css.cssVar(color-handle--width);
    height: css.cssVar(color-handle--height);

    border-top-left-radius: css.cssVar(color-handle--border-top-left-radius);
    border-top-right-radius: css.cssVar(color-handle--border-top-right-radius);
    border-bottom-left-radius: css.cssVar(color-handle--border-bottom-left-radius);
    border-bottom-right-radius: css.cssVar(color-handle--border-bottom-right-radius);

    top: 50%;
    left: 0;
    border: 2px solid white;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 0px 0.6px;
    cursor: inherit;
    transform: translateY(-50%);
  }
}
