@use '@c2n/sass/animation';
@use '@c2n/sass/css-variable' as css with (
  $prefix: c2-details,
  $theme: (
    border-top: 1px solid rgb(213, 213, 213),
    border-right: 0px,
    border-bottom: 1px solid rgb(213, 213, 213),
    border-left: 0px,

    border-radius: 0px,

    padding-top: 16px,
    padding-right: 16px,
    padding-bottom: 16px,
    padding-left: 16px,
    box-shadow: none,

    title__icon--width: 24px,
    title__icon--height: 24px,
    title__hover--background: rgb(230, 230, 230),
    title--background: transparent,
    title__icon--rotate: 180deg,
    title--gap: 16px,
    title--flex-direction: row,
  )
);

:host {
  display: flex;
}

.c2-details {
  flex: 1;
  align-self: stretch;
  display: flex;
  box-shadow: css.cssVar(box-shadow);
  border-radius: css.cssVar(border-radius);
  summary {
    list-style: none;
    display: flex;
    flex-direction: css.cssVar(title--flex-direction);
    align-items: center;
    gap: css.cssVar(title--gap);

    border-top: css.cssVar(border-top);
    border-right: css.cssVar(border-right);
    border-bottom: css.cssVar(border-bottom);
    border-left: css.cssVar(border-left);
    will-change: border-radius;
    transition: animation.standard(border-radius);
    border-radius: css.cssVar(border-radius);
    background: css.cssVar(title--background);
    will-change: border-radius, background;

    transition: animation.standard(background);

    position: relative;
    cursor: pointer;

    padding-top: css.cssVar(padding-top);
    padding-right: css.cssVar(padding-right);
    padding-bottom: css.cssVar(padding-bottom);
    padding-left: css.cssVar(padding-left);

    &:hover {
      background: css.cssVar(hover-title--background);
    }
    slot[name='icon'] {
      cursor: pointer;

      &::slotted(svg) {
        width: css.cssVar(title__icon--width);
        height: css.cssVar(title__icon--height);
        transform: rotate(0deg);
        transition: animation.standard(transform);
      }
    }

    slot[name='expanded-icon'] {
      display: none;
      cursor: pointer;

      &::slotted(svg) {
        width: css.cssVar(title__icon--width);
        height: css.cssVar(title__icon--height);
      }
    }

    .default-icon {
      width: css.cssVar(title__icon--width);
      height: css.cssVar(title__icon--height);
      transform: rotate(0deg);
      transition: animation.standard(transform);
    }

    .c2-details-summary-content {
      border-radius: inherit;
      display: flex;
      flex: 1;
      align-items: center;
    }
  }

  .c2-details-content {
    border-right: css.cssVar(border-right);
    border-left: css.cssVar(border-left);

    padding-top: 0px;
    padding-right: css.cssVar(padding-right);
    padding-bottom: css.cssVar(padding-bottom);
    padding-left: css.cssVar(padding-left);
    position: relative;
  }

  &[open] {
    summary {
      border-bottom: none;
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 0px;
      padding-bottom: css.cssVar(padding-top);
      slot[name='expanded-icon'][data-filled] {
        display: contents;
      }
      // has expanded icon
      slot[name='expanded-icon'][data-filled] + slot[name='icon'] {
        display: none;
      }
      slot[name='icon'] {
        &::slotted(svg) {
          transform: rotate(css.cssVar(title__icon--rotate));
        }
      }
      .default-icon {
        transform: rotate(css.cssVar(title__icon--rotate));
      }
    }
    .c2-details-content {
      border-bottom: css.cssVar(border-bottom);
      border-radius: css.cssVar(border-radius);
      border-top-right-radius: 0px;
      border-top-left-radius: 0px;
    }
  }
}
