@use '@c2n/sass/animation';
@use '@c2n/sass/variables';
@use '@c2n/sass/css-variable' as css with (
  $prefix: c2-details,
  $theme: (
    border-top: 1px solid variables.$color-border-light,
    border-right: 1px solid variables.$color-border-light,
    border-bottom: 1px solid variables.$color-border-light,
    border-left: 1px solid variables.$color-border-light,

    border-top-left-radius: 0px,
    border-top-right-radius: 0px,
    border-bottom-left-radius: 0px,
    border-bottom-right-radius: 0px,

    box-shadow: none,

    header--padding-top: 16px,
    header--padding-right: 16px,
    header--padding-bottom: 16px,
    header--padding-left: 16px,

    header--background: transparent,

    header--gap: 16px,
    header--flex-direction: row,

    header__icon--width: 24px,
    header__icon--height: 24px,
    header__icon--rotate: 180deg,
    header__hover--background: variables.$color-bg-dark,

    content--padding-top: 0px,
    content--padding-right: 16px,
    content--padding-bottom: 16px,
    content--padding-left: 16px,
  )
);

:host {
  display: flex;
}

.c2-details {
  flex: 1;
  align-self: stretch;
  display: flex;
  box-shadow: css.cssVar(box-shadow);
  border-top-left-radius: css.cssVar(border-top-left-radius);
  border-top-right-radius: css.cssVar(border-top-right-radius);
  border-bottom-left-radius: css.cssVar(border-bottom-left-radius);
  border-bottom-right-radius: css.cssVar(border-bottom-right-radius);
  summary {
    list-style: none;
    &::-webkit-details-marker {
      list-style: none;
    }
    display: flex;
    flex-direction: css.cssVar(header--flex-direction);
    align-items: center;
    user-select: none;
    will-change: border-radius;
    will-change: border-radius, background;
    transition: animation.standard(background);
    transition: animation.standard(border-radius);
    position: relative;
    cursor: pointer;

    gap: css.cssVar(header--gap);

    border-top: css.cssVar(border-top);
    border-right: css.cssVar(border-right);
    border-bottom: css.cssVar(border-bottom);
    border-left: css.cssVar(border-left);

    border-top-left-radius: css.cssVar(border-top-left-radius);
    border-top-right-radius: css.cssVar(border-top-right-radius);
    border-bottom-left-radius: css.cssVar(border-bottom-left-radius);
    border-bottom-right-radius: css.cssVar(border-bottom-right-radius);

    background: css.cssVar(header--background);

    padding-top: css.cssVar(header--padding-top);
    padding-right: css.cssVar(header--padding-right);
    padding-bottom: css.cssVar(header--padding-bottom);
    padding-left: css.cssVar(header--padding-left);

    &:hover {
      background: css.cssVar(header__hover--background);
    }
    slot[name='icon'] {
      cursor: pointer;

      &::slotted(svg) {
        transition: animation.standard(transform);
        transform: rotate(0deg);

        width: css.cssVar(header__icon--width);
        height: css.cssVar(header__icon--height);
      }
    }

    slot[name='expanded-icon'] {
      display: none;
      cursor: pointer;

      &::slotted(svg) {
        width: css.cssVar(header__icon--width);
        height: css.cssVar(header__icon--height);
      }
    }

    slot[name='expanded-icon'][data-filled] {
      display: contents;
    }

    .default-icon {
      transform: rotate(0deg);
      transition: animation.standard(transform);

      width: css.cssVar(header__icon--width);
      height: css.cssVar(header__icon--height);
    }

    .c2-details-summary-content {
      border-radius: inherit;
      display: flex;
      flex: 1;
      align-items: center;
    }
  }

  .c2-details-content {
    padding-top: 0px;
    position: relative;

    border-right: css.cssVar(border-right);
    border-left: css.cssVar(border-left);
    border-bottom: css.cssVar(border-bottom);

    border-bottom-left-radius: css.cssVar(border-bottom-left-radius);
    border-bottom-right-radius: css.cssVar(border-bottom-right-radius);

    padding-top: css.cssVar(content--padding-top);
    padding-right: css.cssVar(content--padding-right, header--padding-right);
    padding-left: css.cssVar(content--padding-left, header--padding-left);
    padding-bottom: css.cssVar(content--padding-bottom, header--padding-bottom);
  }

  &[open] {
    summary {
      border-bottom: none;
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 0px;

      // has expanded icon
      slot[name='expanded-icon'][data-filled] + slot[name='icon'] {
        display: none;
      }

      slot[name='icon'] {
        &::slotted(svg) {
          transform: rotate(css.cssVar(header__icon--rotate));
        }
      }

      .default-icon {
        transform: rotate(css.cssVar(header__icon--rotate));
      }
    }
    .c2-details-content {
      border-top-right-radius: 0px;
      border-top-left-radius: 0px;

      border-bottom: css.cssVar(border-bottom);
      border-radius: css.cssVar(border-radius);
    }
  }
}
