@use '@c2n/sass/animation';
@use '@c2n/sass/css-variable' as css with (
  $prefix: c2-reorder-list,
  $theme: (
    container-border-width: 0px,
    container-border-color: #bcbcc6,
    container-border-radius: 8px,
    container-padding: 0px,
    container-margin: 0px,
    container-gap: 0px,
    item-background: transparent,
    item-padding: 0px,

    divider-height: 0px,
    divider-color: #bcbcc6,

    placeholder-background: transparent,

    dragging-item-background: transparent,
  )

);


:host {
  position: relative;
}

.c2-reorder-list-container {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: css.cssVar(container-gap);
  border-width: css.cssVar(container-border-width);
  border-color: css.cssVar(container-border-color);
  border-style: solid;
  border-radius: css.cssVar(container-border-radius);
  padding: css.cssVar(container-padding);
  margin: css.cssVar(container-margin);
  .list-item {
    background: css.cssVar(item-background);
    padding: css.cssVar(item-padding);

    border-radius: initial;
    box-sizing: border-box;
    position: relative;
    &:not(:last-child) {
      border-bottom: css.cssVar(divider-height) solid css.cssVar(divider-color);
    }
    &:first-child {
      border-top-left-radius: inherit;
      border-top-right-radius: inherit;
    }
    &:last-child {
      border-bottom-left-radius: inherit;
      border-bottom-right-radius: inherit;
    }
  }
  .list-item--reorderable {
    ::slotted(:not([data-fixed])) {
      cursor: pointer;
      touch-action: none;
      -webkit-user-drag: none;
      -webkit-tap-highlight-color: transparent;
      user-select: none;
    }
  }
  .dragging-placeholder {
    background-color: css.cssVar(placeholder-background);
    z-index: 1;
  }
}

.dragging-item {
  box-sizing: border-box;
  position: fixed;
  background-color: css.cssVar(dragging-item-background);
  cursor: pointer;
  z-index: 100000;
  display: none;
  &.dragging-item--active {
    display: flex;
  }
}
