@use '@c2n/sass/animation';
@use '@c2n/sass/variables';
@use '@c2n/sass/css-variable' as css with (
  $prefix: c2-label,
  $theme: ()
);

:host {
  display: inline-flex;
}
:host([for]) {
  cursor: pointer;
}
