@use '@c2n/sass/animation';
@use '@c2n/sass/variables';
@use '@c2n/sass/css-variable' as css with (
  $prefix: c2-hyperlink-list,
  $theme: (
    item--gap: 0px,
    item--padding: 8px 24px 8px 16px,
    item--border-top: 0px solid transparent,
    item--border-bottom: 0px solid transparent,
    item--border-right: 0px solid transparent,
    item--border-left: 0px solid transparent,
    item--border-radius: none,
    item--text-decoration: none,

    item__hover--bg-color: inherit,
    item__hover--color: none,
    item__hover--border-top: inherit,
    item__hover--border-bottom: inherit,
    item__hover--border-right: inherit,
    item__hover--border-left: inherit,
    item__hover--border-radius: inherit,
    item__hover--text-decoration: inherit,

    item__selected--background: inherit,
    item__selected--color: inherit,
    item__selected--border-top: inherit,
    item__selected--border-bottom: inherit,
    item__selected--border-right: inherit,
    item__selected--border-left: inherit,
    item__selected--border-radius: inherit,
  )
);

:host {
  display: inline-flex;
  flex-direction: column;
  gap: css.cssVar(item--gap);
  ::slotted(a) {
    display: flex;
    flex: 1;
    align-items: center;
    padding: css.cssVar(item--padding) !important;
    background: transparent;

    border-top: css.cssVar(item--border-top) !important;
    border-bottom: css.cssVar(item--border-bottom) !important;
    border-right: css.cssVar(item--border-right) !important;
    border-left: css.cssVar(item--border-left) !important;
    border-radius: css.cssVar(item--border-radius) !important;
    color: inherit;
    text-decoration: css.cssVar(item--text-decoration) !important;
    text-wrap: nowrap;
    transition: animation.standard-acceleration(background), animation.standard(color), animation.standard(border), animation.standard(border-radius);
  }

  ::slotted(a:hover) {
    background: css.cssVar(item__hover--bg-color) !important;
    color: css.cssVar(item__hover--color) !important;
    border-top: css.cssVar(item__hover--border-top) !important;
    border-bottom: css.cssVar(item__hover--border-bottom) !important;
    border-right: css.cssVar(item__hover--border-right) !important;
    border-left: css.cssVar(item__hover--border-left) !important;
    border-radius: css.cssVar(item__hover--border-radius) !important;
    text-decoration: css.cssVar(item__hover--text-decoration) !important;
  }

  ::slotted(a[data-selected]) {
    background: css.cssVar(item__selected--background, item__hover--bg-color) !important;
    color: css.cssVar(item__selected--color, item__hover--color) !important;
    border-top: css.cssVar(item__selected--border-top, item__hover--border-top) !important;
    border-bottom: css.cssVar(item__selected--border-bottom, item__hover--border-bottom) !important;
    border-right: css.cssVar(item__selected--border-right, item__hover--border-right) !important;
    border-left: css.cssVar(item__selected--border-left, item__hover--border-left) !important;
    border-radius: css.cssVar(item__selected--border-radius, item__hover--border-radius) !important;
    text-decoration: css.cssVar(item__selected--border-radius, item__hover--text-decoration) !important;
  }
}
