@use '@c2n/sass/animation';
@use '@c2n/sass/variables';
@use '@c2n/sass/css-variable' as css with (
  $prefix: c2-overlay,
  $theme: (
    backdrop--background: transparent,
    offset: 8px,
  )
);

:host {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  border: none;
  transition: animation.standard-deceleration(transform) allow-discrete;
  &::backdrop {
    background: css.cssVar(backdrop--background);
  }
}
:host([placement^='bottom']:popover-open) {
  transform: translateY(css.cssVar(offset));
}

:host([placement^='top']:popover-open) {
  transform: translateY(calc(-1 * css.cssVar(offset)));
}

@starting-style {
  :host([placement]:popover-open) {
    transform: translateY(0);
  }
}
