@use '@c2n/sass/animation';
@use '@c2n/sass/variables';
@use '@c2n/sass/css-variable' as css with (
  $prefix: c2-overlay,
  $theme: (
    backdrop--background: transparent,
    offset-y: 8px,
    offset-x: 0px,
  )
);

:host {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  border: none;
  transition: animation.standard-deceleration(transform) allow-discrete;
  background-color: transparent;
  &::backdrop {
    background: css.cssVar(backdrop--background);
  }
}
:host([placement='bottom']:popover-open) {
  transform: translateY(css.cssVar(offset-y));
}
:host([placement='bottom-start']:popover-open) {
  transform: translate(css.cssVar(offset-x), css.cssVar(offset-y));
}
:host([placement='bottom-end']:popover-open) {
  transform: translate(calc(-1 * css.cssVar(offset-x)), css.cssVar(offset-y));
}

:host([placement='top']:popover-open) {
  transform: translateY(calc(-1 * css.cssVar(offset-y)));
}
:host([placement='top-start']:popover-open) {
  transform: translate(css.cssVar(offset-x), calc(-1 * css.cssVar(offset-y)));
}
:host([placement='top-end']:popover-open) {
  transform: translate(calc(-1 * css.cssVar(offset-x)), calc(-1 * css.cssVar(offset-y)));
}

@starting-style {
  :host([placement]:popover-open) {
    transform: translate(0, 0);
  }
}
