@use '@c2n/sass/css-variable' as css with (
  $prefix: c2-relative-time,
  $theme: (
    color: inherit,
    font-size: inherit,
    font-weight: inherit,
    font-variant-numeric: tabular-nums,
    white-space: nowrap,
  )
);

:host {
  display: inline;
  color: css.cssVar(color);
  font-size: css.cssVar(font-size);
  font-weight: css.cssVar(font-weight);
  font-variant-numeric: css.cssVar(font-variant-numeric);
  white-space: css.cssVar(white-space);
}

:host([hidden]) {
  display: none;
}
