@use '@c2n/sass/animation';
@use '@c2n/sass/variables';
@use '@c2n/sass/css-variable' as css with (
  $prefix: c2-text-button,
  $theme: (
    color: variables.$color-text-subtitle,
    hover-color: variables.$color-blue,
    hover-text-decoration: underline,
    state-layer-padding: 4px
  )
);


:host {
  display: inline-flex;
}

.c2-text-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: css.cssVar(color);
  cursor: pointer;
  user-select: none;
  will-change: color, text-decoration;
  transition: animation.standard(color), animation.standard(text-decoration);
  padding: css.cssVar(state-layer-padding);
  &:hover {
    color: css.cssVar(hover-color);
    text-decoration: css.cssVar(hover-text-decoration);
  }
  &::slotted(a) {
    text-decoration: inherit;
  }
  
}
