@use '@c2n/sass/animation';
@use '@c2n/sass/variables';
@use '@c2n/sass/css-variable' as css with (
  $prefix: c2-text-button,
  $theme: (
    color: variables.$color-text-subtitle,
    text-decoration-color: variables.$color-blue,
    text-decoration: none,
    text-underline-offset: 4px,

    hover--color: variables.$color-blue,
    hover--text-decoration: underline,
    hover--text-decoration-color: variables.$color-blue,

    padding: 4px,
  )
);

:host {
  display: inline-flex;
}

.c2-text-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  will-change: color, text-decoration;
  transition: animation.standard(color), animation.standard(text-decoration);
  color: css.cssVar(color);
  text-decoration: css.cssVar(text-decoration);
  text-decoration-color: css.cssVar(text-decoration-color);
  text-underline-offset: css.cssVar(text-underline-offset);

  padding: css.cssVar(padding);

  &:hover {
    color: css.cssVar(hover--color, color);
    text-decoration: css.cssVar(hover--text-decoration, text-decoration);
    text-decoration-color: css.cssVar(hover--text-decoration-color, text-decoration-color);
  }
}
