@use 'sass:map';
@use 'sass:string';
@use 'sass:list';

$prefix: c2 !default;
$theme: () !default;

/* ex : var((width: 24px), width, c2-checkbox)  returns var(--c2-checkbox-width, 24px) */
@function cssVar($fallback...) {
  $result: '';
  $defaul-value: null;

  @for $i from 1 through length($fallback) {
    $item: nth($fallback, $i);
    @if not $defaul-value {
      $defaul-value: map.get($theme, $item);
    }
    @if not str-index($item, '--') {
      $result: $result + 'var(--#{$prefix}--#{$item},';
    } @else if str-index($item, '--') == 1 {
      $result: $result + 'var(#{$item},';
    } @else {
      $result: $result + 'var(--#{$prefix}__#{$item},';
    }
  }
  @if $defaul-value {
    $result: $result + '#{$defaul-value},';
  }
  $result: str-slice($result, 1, -2);
  @for $i from 1 through length($fallback) {
    $result: $result + ')';
  }
  @return string.unquote($result);
}

@function get($property) {
  @return map.get($theme, $property);
}
