@use 'sass:map';

$prefix: c2 !default;;
$theme: () !default;;


/* ex : var((width: 24px), width, c2-checkbox)  returns var(--c2-checkbox-width, 24px) */
@function cssVar($property, $custom-theme: $theme, $custom-prefix: $prefix) {
  @return var(--#{$custom-prefix}-#{$property}, map.get($custom-theme, $property));  
}

// State Opacity
$state-layer-dragged-opacity: 0.16;
$state-layer-focus-opacity: 0.12;
$state-layer-hover-opacity: 0.08;
$state-layer-pressed-opacity: 0.12;

// Disbale opacity
$disabled-content-opacity: 0.38;
$disabled-container-opacity: 0.12;



