@use '@c2n/sass/animation';
@use '@c2n/sass/variables';
@use '@c2n/sass/css-variable' as css with (
  $prefix: c2-icon-button,
  $theme: (
    icon--size: 24px,
    icon--color: inherit,
    icon__hover--color: inherit,

    border-radius: 50%,
    state-layer--size: 48px,
    background-color: transparent,
    hover--background-color: variables.$color-bg-dark,
  )
);

:host {
  display: inline-flex;
}

.c2-icon-button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  width: css.cssVar(state-layer--size);
  height: css.cssVar(state-layer--size);
  border-radius: css.cssVar(border-radius);
  background-color: css.cssVar(background-color);
  will-change: background-color;
  transition: animation.standard(background-color);
  &:hover {
    background-color: css.cssVar(hover--background-color);
    ::slotted(*) {
      color: css.cssVar(icon__hover--color);
    }
  }
}
::slotted(*) {
  width: css.cssVar(icon--size);
  height: css.cssVar(icon--size);
  color: css.cssVar(icon--color);
  transition: animation.standard(color);
}
