@use '@c2n/sass/animation';
@use '@c2n/sass/css-variable' as css with (
  $prefix: c2-icon-button,
  $theme: (
    icon-size: 24px,
    icon-color: inherit,
    hover-icon-color: inherit,

    border-radius: 50%,
    state-layer-size: 48px,
    bg-color: transparent,
    hover-bg-color: rgb(230, 230, 230),    
  )
);

:host {
  display: inline-flex;
}

.c2-icon-button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  width: css.cssVar(state-layer-size);
  height: css.cssVar(state-layer-size);
  border-radius: css.cssVar(border-radius);
  background-color: css.cssVar(bg-color);
  will-change: background-color;
  transition: animation.standard(background-color);
  &:hover {
    background-color: css.cssVar(hover-bg-color);
     ::slotted(*) {
        color: css.cssVar(hover-icon-color);
     }
  }

}
  ::slotted(*) {
    width: css.cssVar(icon-size);
    height: css.cssVar(icon-size);
    color: css.cssVar(icon-color);
    transition: animation.standard(color);
  }