@use '@c2n/sass/css-variable' as css with (
  $prefix: c2-feather-icon,
  $theme: (
    size: 24px,
    color: currentColor,
    stroke-width: 2,
  )
);

:host {
  display: inline-flex;
  width: css.cssVar(size);
  height: css.cssVar(size);
  color: css.cssVar(color);
  line-height: 0;
  vertical-align: middle;
  flex-shrink: 0;
}

:host([hidden]) {
  display: none;
}

svg {
  width: 100%;
  height: 100%;
  stroke-width: css.cssVar(stroke-width);
}
